.user-profile-header {
    margin-top: 32px;
    padding-bottom: 0;
}

.user-profile-satisfied {
    display: flex;
    padding: 5px 0 0 0;
}

.user-profile-satisfied-col {
    flex-direction: column;
    display: flex;
    align-items: center;
}