.user-profile-header {
    margin-top: 32px;
}

.user-profile-satisfied {
    display: flex;
    padding: 0px;
}

.user-profile-satisfied-col {
    flex-direction: column;
    display: flex;
    align-items: center;
}